# Default ignored files
/shelf/
/workspace.xml
# CodeStream ignored files
/../../UniTodo\.idea/codestream.xml
# Datasource local storage ignored files
/../../../../../../../:\Users\jonas\Projects\Java\UniTodo\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
